# byte-compiled
__pycache__/
*.py[ocd]

# emacs
.venv

# vscode
.vscode

# distributions
.eggs/
eggs/
lib/
lib64/
*.egg-info/
*.egg
dist/

# tests
*.pytest_cache/
.cache
test/
test/*
outdir/

# cimr-d clone
cimr-d/

# sphinx
doc/source/savefig/

# oauth token
.httr-oauth

# tox
.tox

# notebook cache
*.ipynb_checkpoints/

# rmarkdown
*.utf8.md
*.knit.md

# os
.DS_Store
Icon?
Thumbs.db
.directory


# emacs
*~
